/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(#517e86c4, #949fdf1a), url(images/desk.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
} */